.header__wrap {
    height: 50px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 5px solid #6cbdea;
}

.header__wrap-heading {
    text-align: center;
}

.header__wrap-logo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding-right: 50px;
}

.header__nav {
    height: 50px;
    background-color: #1274ec;
}

.header__nav-list {
    width: 35%;
    margin: 0 auto;
}

.header__nav-list-item {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid white;
}

.header__nav-list-item__link {
    line-height: 50px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;   
}

.content {
    position: relative;
    margin: 0 5%;
}

.content__heading, .form__heading {
    text-transform: uppercase;
    margin: 30px 0;
}

.content__text {
    font-weight: bolder;
}

.form__group, .form__button {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 20px;
}

.form__input, textarea {
    font-size: 16px;
    margin-top: 10px;
    border: 5px solid black;
}

.form__button {
    text-transform: uppercase;
    border: none;
    padding: 10px 30px;
    margin-right: 20px;
}

.form__button:hover {
    cursor: pointer;
}

.save {
    background-color: #ff7f27;
    color: black;
}

.delete {
    background-color: #ed1c24;
    color: white;
}

.sub {
    position: absolute;
    top: 15%;
    right: 5%;
    text-transform: uppercase;
    border: 5px solid black;
    padding: 10px 15px 30px 15px;
}

.sub__heading {
    margin-bottom: 30px;
}

.sub__list-item {
    margin: 5px 0;
}

.sub__list-item__link {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}